*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.hero {

    height: 700px;
    width: 100%;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-position-y:200px;
    background-color: #000000;   
}


nav {
    
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 45px;
}

.logo {

    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}

span {

    color: rgb(0, 143, 92);

}

nav ul li {

    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {

       color:white;
       text-decoration: none;
       font-weight: bold;
       text-transform: capitalize;
       font-size: 25px;
}

nav ul li a:hover{
    color: rgb(0, 143, 92);
    transition: .4s;
    
}

.btn {
    background-color: rgb(0, 143, 92);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;

}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 70%;
    left:8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
    
}

h3, p {

    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: white;
    letter-spacing: 2px;
    font-size: 20 px;

}

.newslatter form {

    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgb(0, 143, 92);
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child {
    display: inline-block;
    position: absolute;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgb(0, 143, 92);
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.about {
    width: 100%;
    height: 100%;
    background-color:black;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(../img/code.png);
    
}

.about img {
    height: auto;
    width: 400px;

}

.about-text {

    width: 550px;
    padding-left:150px ;


}



.main {

    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    

}
.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    
}

.about-text p {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}

button {
    background-color: rgb(0, 143, 92);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid rgb(0, 143, 92);
    cursor: pointer;
}

.service {
    background: black;
    width: 100%;
    padding: 100px 75px;

}

.title h2 {

    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background-color: black;

}
.card {
    height: 450px;
    width: 335px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: justify;
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);


}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgb(0, 143, 92)
}

h5 {

    color: white;
    font-size: 23px;
    margin-bottom: 15px;

}

.pra p {
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}

.card .button {

    background-color: rgb(0, 143, 92);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.card .button:hover {

    background-color: transparent;
    border: 2px solid rgb(0, 143, 92);
    cursor: pointer;

}


.contact-me {
    width: 100%;
    height: 290px;
    background:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}



.contact-me p {
    color:rgb(0, 143, 92) ;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;

}

.contact-me .button-two {
    
    background-color: rgb(0, 143, 92);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}


.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid rgb(0, 143, 92);
    cursor: pointer;
    color: rgb(0, 143, 92);
}

footer {

    position: relative;
    width: 100%;
    height: 400px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

footer p:nth-child(1) {

    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;

}

footer p:nth-child(2) {

    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;

}

.social {
    height: 130px;
    width: 100%;
    align-items: center;
    justify-content: center;

    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);

    display: flex;
}

.social a {

    width: 45px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 143, 92);
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}


.social a:hover {
    transition: scale (1.3);
    transition: .3s;
}

.end {
    
    color: white;
    bottom: 10px;
    font-size: 14px;
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
    height: 20px;
    width: 100%;
    
   
}

p.end {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}